.a-button {
    font-family: $text-font-family;
    background-color: transparent;
    color: $white;
    border: 1px solid white;
    border-radius: 100px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    font-size: calc(14px + 0.3vw);
    font-weight: 400;
    &:hover{
        transform: scale(1.05);
    }
}

.a-buttonImportant {
    font-family: $text-font-family;
    background-color: $important;
    border: 1px solid $important;
    color:$white;
    border: none;
    border-radius: 100px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
    font-size: calc(14px + 0.3vw);
    font-weight: 400;
    &:hover{
        transform: scale(1.05);
    }
}