.a-play{
    width: 35px;
    height: 35px;
    background-image: url(../img/elements/a-btnPlay.svg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100%);
    cursor: pointer;
    margin-right: 30px;
    margin-left: 30px;
}

.a-defilement{
    width: 35vw;
    height: 4px;
    background-image: url(../img/elements/a-barreDefilement.svg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: invert(100%);
}