.o-album {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.m-album {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 5%;
}

.m-ablumtype {
    height: 1200px;
}