.m-navbar {
    position: fixed;
    width: 100%;
    padding-right: 5%;
    z-index: 10;

    font-family: $text-font-family;
    top: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
    &__logo{
        height: 40px;
        padding: 0;
        margin: 0;
        margin-left: 2%;
        a {
            img{
            height: 40px;
            filter:invert(100%);
            }
        }

    }
    
    &__items {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        button{
            margin-right: 2%;
        }

    }

}


//Animation scrollBar
.-animationScrollT {
    animation-duration: 0.4s;
    animation-name: colorT;
    background-color: transparent;
  }
  .-animationScrollB {
    animation-duration: 0.8s;
    animation-name: colorB;
    background-color:$colorBkgGeneral;
  }
  
  @keyframes colorT {
    from {
      background-color: $colorBkgGeneral;
    }
  
    to {
        background-color: transparent;
    }
  }
  @keyframes colorB {
    from {
        background-color: transparent;
    }
  
    to {

        background-color: $colorBkgGeneral;
    }
  }