html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Source sans pro";
  background-color: #121212;
}

p {
  color: white;
  margin: 0;
  padding: 0;
}

h2 {
  color: white;
  font-size: calc(25px + 2.5vw);
  font-weight: 700;
  margin: 0;
}

h3 {
  color: white;
  font-size: calc(18px + 1.2vw);
  font-weight: 700;
  margin: 0;
}

#container {
  width: 100%;
  background-color: #121212;
}

.a-button {
  font-family: "Source sans pro";
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 100px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  font-size: calc(14px + 0.3vw);
  font-weight: 400;
}
.a-button:hover {
  transform: scale(1.05);
}

.a-buttonImportant {
  font-family: "Source sans pro";
  background-color: #1326D2;
  border: 1px solid #1326D2;
  color: white;
  border: none;
  border-radius: 100px;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  font-size: calc(14px + 0.3vw);
  font-weight: 400;
}
.a-buttonImportant:hover {
  transform: scale(1.05);
}

.a-title {
  color: white;
  text-decoration: none;
  font-weight: 400;
  margin-right: 3%;
  font-size: calc(14px + 0.3vw);
}

.a-titleAlbum {
  color: #f1f1f1;
  font-size: calc(15px + 0.5vw);
  font-weight: 600;
  margin-top: 5%;
}

.a-titleArtiste {
  color: #999999;
  font-size: calc(14px + 0.3vw);
  font-weight: 600;
  margin-top: 3%;
}

.a-imagesAlbum img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.a-play {
  width: 35px;
  height: 35px;
  background-image: url(../img/elements/a-btnPlay.svg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(100%);
  cursor: pointer;
  margin-right: 30px;
  margin-left: 30px;
}

.a-defilement {
  width: 35vw;
  height: 4px;
  background-image: url(../img/elements/a-barreDefilement.svg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(100%);
}

.m-navbar {
  position: fixed;
  width: 100%;
  padding-right: 5%;
  font-family: "Source sans pro";
  top: 0;
  margin: 0;
  padding: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.m-navbar__logo {
  height: 40px;
  padding: 0;
  margin: 0;
  margin-left: 2%;
}
.m-navbar__logo a img {
  height: 40px;
  filter: invert(100%);
}
.m-navbar__items {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.m-navbar__items button {
  margin-right: 2%;
}

.-animationScrollT {
  animation-duration: 0.4s;
  animation-name: colorT;
  background-color: transparent;
}

.-animationScrollB {
  animation-duration: 0.8s;
  animation-name: colorB;
  background-color: #121212;
}

@keyframes colorT {
  from {
    background-color: #121212;
  }
  to {
    background-color: transparent;
  }
}
@keyframes colorB {
  from {
    background-color: transparent;
  }
  to {
    background-color: #121212;
  }
}
.m-artiste {
  width: 100%;
  height: 65%;
  background-image: url("../img/artistes/weeknd.jpg");
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.2);
  background-repeat: no-repeat;
  display: flex;
  align-content: center;
  align-items: center;
}
.m-artiste__information {
  margin-left: 10%;
  margin-top: 80px;
  width: -webkit-fill-available;
  height: 60%;
  display: grid;
}
.m-artiste__information button {
  margin-right: 4%;
  cursor: pointer;
  width: 170px;
}

.m-album {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  margin: 5%;
}

.m-card {
  width: 20%;
  height: -webkit-max-content;
  height: max-content;
  text-align: center;
  padding: 2%;
  background-color: #282828;
  border-radius: 5px;
}

.m-ablumcard .-marginRight {
  margin-right: 2%;
}

.m-ablumcard {
  height: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: inline-flex;
}

.m-album .-marginTop {
  margin-top: 0% !important;
}

.m-playbar {
  width: 100%;
  height: 90px;
  bottom: 0;
  left: 0;
  position: fixed;
  background-color: #393939;
}
.m-playbar__controls {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}
.m-playbar__controls--elm {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: auto;
}
.m-playbar__controls--elm .-before {
  width: 20px;
  height: 20px;
  background-image: url(../img/elements/a-before.svg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(100%);
  cursor: pointer;
}
.m-playbar__controls--elm .-next {
  width: 20px;
  height: 20px;
  background-image: url(../img/elements/a-next.svg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: invert(100%);
  cursor: pointer;
}

.o-album {
  height: 100%;
  width: 100%;
  margin-bottom: 90px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #121212;
}

.o-container {
  display: flex;
  padding-top: 150px;
}

.o-sectionD {
  width: 60%;
  padding: 0 5px 5px 5px;
  margin-right: 50px;
}
.o-sectionD .m-infoMusique {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid #707070;
}
.o-sectionD .m-infoMusique__titre {
  display: flex;
}
.o-sectionD .m-infoMusique__titre .a-contenu2 {
  margin-left: 15px;
  color: #707070;
  font-size: calc(14px + 0.1vw);
}
.o-sectionD p {
  padding: 0 5px;
}

.o-sectionG {
  display: inline-block;
  justify-content: center;
  width: 40%;
  text-align: center;
  vertical-align: middle;
}
.o-sectionG .-width {
  width: 50%;
  margin: auto;
}
.o-sectionG .a-buttonImportant {
  margin: 10px;
}