html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: $text-font-family;
    background-color: $colorBkgGeneral;
}
p{
    color: $white;
    margin: 0;
    padding: 0;
    font-size: $p;
}
h2 {
    color: $white;
    font-size: $h2;
    font-weight: 700;
    margin: 0;
}

h3{
    color: $white;
    font-size: $h3;
    font-weight: 700;
    margin: 0;
}

a{
    text-decoration: none;
    color: $gray4;
}

#container {
    width: 100%;
    height: inherit;
    margin-bottom: 90px;
    background-color: $colorBkgGeneral;
}

