//Background color
$colorBkgGeneral:#121212;

//colors
$white: white;
$important:#1326D2;
$gray1: #f1f1f1;
$gray2: #999999;
$gray3: #282828;
$grayplay: #393939;
$gray4: #707070;

//Fonts
$text-font-family:'Source sans pro';

//Font-size
$h2: calc(25px + 2.5vw);
$h3: calc(18px + 1.2vw);
$p: calc(14px + 0.3vw)