$text-font-family:'Source sans pro';



html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.a-button {
    font-family: $text-font-family;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 100px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    outline: none;
}



.m-navbar {
    position: fixed;
    width: 100%;
    background-color: black;
    font-family: $text-font-family;
    top: 0;
    margin: 0;
    padding: 0;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    
    &__logo{
        height: 40px;
        padding: 0;
        margin: 0;
        margin-left: 3%;
        a {
            img{
            height: 40px;
            filter:invert(100%);
            }
        }
    }

}



/* Pour une implémentation spécifique */
.a-menuBlock__item.-green {
    background-color: #00C81b;
}
  /* Pour une implémentation non spécifique */
.-green {
    background-color: #00C81b;
}