.o-sectionD{
    display: flex;
    width: 60%;
    justify-content: space-between;
    vertical-align: middle;

}

.o-sectionG{
    width: 40%;
    text-align: center;
    vertical-align: middle;
    
}