.o-sectionD{
    width: 60%;
    padding : 0 5px 5px 5px;
    margin-right: 50px;
    .m-infoMusique{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray4; 
        &__titre{
            display: flex;
            .a-contenu2{
                margin-left: 15px;
                color: $gray4;
                font-size: calc(14px + 0.1vw);
            }
        }
    }
    p {
        padding: 0 5px;
    }
}



.o-sectionG{
    display: inline-block;
    justify-content: center;
    width: 40%;
    text-align: center;
    vertical-align: middle;
    .-width {
        width: 50%;
        margin: auto;
    }
    .a-buttonImportant{
        margin: 10px;;
    }
}